id ICON "assets/images/icons/icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Alexander Laevens"
      VALUE "FileDescription", "SDL2 Based Cannon Game"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "cannon_game"
      VALUE "LegalCopyright", "Alexander Laevens"
      VALUE "OriginalFilename", "cannon.exe"
      VALUE "ProductName", "Pixel Projectiles"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END